
.container{
    
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
div{
   margin-bottom: 20px;
   
}
.card{
    margin-bottom: 20px;
   
    

}
.card:hover{
    transform: scale(2);
}
.flex-pro{
    display: flex;
    flex-direction: row;
}